# 忽略openai key等环境配置文件
.env
# 忽略编辑器生成的文件
.vscode/
# 忽略日志文件
*.log
.idea/
logs/
# 中间产物
build/*
tianji.egg-info/*
temp/*
temp_datasets/*
*.bin
*.pyc
test/knowledges/langchain/cache/
run/cache/
version.txt
test/knowledges/llamaindex/cache
cache/*
metagpt/*
test/agents/metagpt/metagpt/*
