git+https://gitee.com/jujimeizuo/meta-gpt-tianji.git

transformers==4.36.2
sentencepiece==0.1.99
accelerate==0.24.1
transformers_stream_generator==0.0.4
modelscope
tiktoken
einops

# for RQA
langchain==0.0.292
gradio==3.50.2
